.hours
  position: absolute
  top: 0px
  bottom: 0px

.hour
  height: (100% / 24)
  font-size: 50%
  width: 100px
  position: relative

.startBar
  position: absolute
  height: 2px
  width: 15px
  background-color: black

.hourLabel
  position: absolute
  margin-left: 20px
  transform: translateY(-50%)

.quarter
  position: absolute
  height: 2px
  margin-bottom: 25%
  width: 7px
  background-color: black
  
.half
  position: absolute
  height: 2px
  margin-bottom: 25%
  width: 12px
  background-color: black
